.singUpWrapper {
  width: 420px;
  padding: 33px 36px 25px;
}

.form {
  margin-bottom: 20px;
}

.inputsWrapper {
  display: flex;
  flex-direction: column;
  gap: 25px;
  justify-content: center;

  margin-bottom: 60px;
}

.singUpHeader {
  align-self: center;
}
