.button {
  all: unset;

  cursor: pointer;
  user-select: none;

  display: flex;
  align-items: center;
  justify-content: center;

  box-sizing: border-box;
  padding: 8px 28px;

  border-radius: 4px;
  transition: background-color 0.5s ease;

  & p {
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
    justify-content: center;
  }

  &:focus-visible {
    outline: 2px solid var(--color-info-700);
  }

  &:disabled {
    cursor: not-allowed;
    color: var(--color-light-900);

    & p {
      color: var(--color-light-900);
    }
  }
}

.primary {
  background-color: var(--color-accent-500);

  &:hover {
    background-color: var(--color-accent-300);
  }

  &:disabled {
    background-color: var(--color-accent-900);
  }

  &:not(:disabled) {
    &:active {
      background-color: var(--color-accent-700);
    }
  }
}

.secondary {
  background-color: var(--color-dark-300);

  &:hover {
    background-color: var(--color-dark-100);
  }

  &:disabled {
    background-color: var(--color-dark-300);
  }

  &:not(:disabled) {
    &:active {
      background-color: var(--color-dark-500);
    }
  }
}

.link {
  display: inline-block;
  padding: 0;
  background-color: transparent;

  &:not(:disabled) {
    &:hover {
      text-decoration: underline;
      background-color: transparent;
    }
  }

  &:disabled {
    background-color: transparent;
  }

  &:not(:disabled) {
    &:active {
      background-color: transparent;
    }
  }
}

.fullWidth {
  width: 100%;
}
