html {
  box-sizing: border-box;
  font-size: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0;
}

input,
button,
select,
textarea,
optgroup,
option {
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
  font-style: inherit;
  color: inherit;
}

/*
a:visited {
  color: inherit;
}
 */

body {
  overflow-x: hidden;

  min-width: 360px;
  height: 100%;
  margin: 0;
  padding: 0;

  font-family: var(--font-family-primary), sans-serif;
  line-height: var(--line-height-m);
  color: var(--color-light-100);

  background-color: var(--color-dark-900);
  border: 0;
}

// Стили для автокомплита
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  box-shadow: 0 0 0 30px var(--color-dark-900) inset !important;

  -webkit-text-fill-color: var(--color-light-100) !important;
}

// от Cветы
img {
  vertical-align: top;
}

ul {
  list-style-type: none;
}

a,
a:hover,
a:active {
  cursor: pointer;
  text-decoration: none;
}

a:visited {
  color: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

button {
  cursor: pointer;
  background-color: unset;
  border: none;
}

// Стили при выделении
*::selection {
  color: var(--color-light-300);
  background-color: var(--color-accent-500);
}

//// Стили для скролла FireFox
// {
//  scrollbar-color: var(--color-accent-100) var(--color-dark-900);
//  scrollbar-width: thin;
// }

// Стили для скролла Chrome
*::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

*::-webkit-scrollbar-track,
*::-webkit-scrollbar-track:horizontal {
  background-color: var(--color-dark-900);
}

*::-webkit-scrollbar-thumb,
*::-webkit-scrollbar-thumb:horizontal {
  background-color: var(--color-accent-700);
  border: 3px solid var(--color-accent-700);
  border-radius: 5px;

  &:hover {
    cursor: grab;
    background-color: var(--color-light-300);
    border: 3px solid var(--color-light-300);
  }
}
