.profileItem {
  display: flex;
  flex-flow: row nowrap;
  column-gap: 8px;
  align-items: center;

  & > div:nth-child(2) {
    padding-right: 20px;
  }

  & > div:nth-child(2) :nth-child(2) {
    color: var(--color-dark-100);
  }
}

.iconTextLink {
  display: flex;
  flex-flow: row nowrap;
  gap: 6px;
  align-items: center;

  color: inherit;
}
