.layout {
  height: 100vh;
}

.lineLoader {
  z-index: 100000;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  padding-top: var(--header-height);
  padding-inline: var(--header-inline-padding);
}
