.forgotPasswordWrapper {
  width: 420px;
  margin: 0 auto;
  padding: 33px 36px 25px;
}

.form {
  margin-bottom: 20px;
}

.inputWrapper {
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: center;

  margin-bottom: 65px;
}

.forgotPasswordHeader {
  align-self: center;
  margin-bottom: 30px;
}

.forgotPasswordText {
  color: var(--color-light-900);
  opacity: 0.5;
}
