.checkbox {
  display: flex;
  flex-flow: row nowrap;
  column-gap: 12px;
  align-items: center;

  button {
    cursor: pointer;
  }

  &Disabled button {
    cursor: inherit;
  }
}

.root {
  position: relative;

  display: flex;
  align-items: center;
  justify-content: center;

  width: 18px;
  height: 18px;

  background-color: inherit;
  border: 2px solid var(--color-light-900);
  border-radius: 2px;

  &[data-state='checked'] {
    background-color: var(--color-light-100);
    border-color: var(--color-light-100);
  }

  &:hover::before,
  &:focus::before {
    content: '';

    position: absolute;
    z-index: -1;
    transform: scale(1);

    width: 36px;
    height: 36px;

    opacity: 0.5;
    border-radius: 50%;
    outline: none;

    transition:
      transform 0.3s ease-in-out,
      opacity 0.3s ease-in-out,
      background-color 0.3s ease-in-out;
  }

  &:hover::before {
    background-color: var(--color-dark-500);
  }

  &:focus::before {
    background-color: var(--color-dark-100);
  }

  &:focus-visible {
    outline: none;
  }

  &:disabled {
    background-color: var(--color-dark-100);
    border-color: var(--color-dark-100);

    &::before {
      content: none;
    }
  }

  &[data-state='unchecked']:disabled {
    background-color: var(--color-dark-900);
    border-color: var(--color-dark-100);
  }

  & .indicator {
    user-select: none;
    font-size: 12px;
    font-weight: 900;
    color: var(--color-dark-900);
  }

  &:disabled .indicator {
    color: var(--color-light-500);
  }
}

.label {
  cursor: pointer;
  user-select: none;
  padding-top: 2px;

  &Disabled {
    cursor: inherit;
  }

  &Disabled * {
    color: var(--color-dark-100) !important;
  }
}
